@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
url('https://resources.workable.com/wp-content/uploads/2023/05/Rob-Long-employee-satisfaction-vs-happiness.jpg');
    height: 70vh; background-repeat: no-repeat; background-position: center; background-size: cover;">
    <h1 class="fw-bold" style="padding-top: 150px;">Employee List Website</h1>
    <pre style="font-family: Arial;">Effortlessly manage your workforce with our intuitive employee list website, 
streamlining organization and enhancing productivity.</pre>
</div>
